<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="spring">
            <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
            <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
        </sectionGroup>
        <section name="EnvVariables" type="System.Configuration.NameValueSectionHandler"/>
    </configSections>
    
    <appSettings>
        <add key="sooda.config" value="xmlconfig"/>
    </appSettings>

    <system.runtime.remoting>
        <application>
            <channels>
                <channel ref="tcp" port="8005" />
            </channels>
        </application>
    </system.runtime.remoting>

    <EnvVariables>
    </EnvVariables>
    
    <spring>
        <context>
            <resource uri="config://spring/objects"/>
        </context>
        <objects xmlns="http://www.springframework.net">
            <description></description>
          
          <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
            <property name="VariableSources">
              <list>
                <object type="NGinn.Lib.Util.DefaultConfigProvider, NGinn.Lib">
                  <property name="ConfigFile" value="nginn.properties" />
                  <property name="DefaultPrefix" value="ng." />
                </object>
                <object type="Spring.Objects.Factory.Config.ConfigSectionVariableSource, Spring.Core">
                  <property name="SectionNames" value="EnvVariables" />
                </object>
              </list>
            </property>
          </object>

            <object name="MessageBus" type="NGinn.Engine.Runtime.MessageBus.ReliableMessageBus, NGinn.Engine" singleton="true">
                <property name="QueueName" value="NGinnEngine" />
                <property name="ConnectionString" value="${MessageDb.ConnectionString}" />
            </object>
            
            
            <object name="NGSessionFactory" type="NGinn.Engine.Dao.NGDataStore, NGinn.Engine.Dao" singleton="true"/>
            <object name="ProcessInstanceRepository" type="NGinn.Engine.Dao.ProcessInstanceRepository, NGinn.Engine.Dao" singleton="true" />
            <object name="ProcessInstanceLockManager" type="NGinn.Engine.Runtime.LocalProcessInstanceLockManager, NGinn.Engine" singleton="true" />
          <!-- worklist service -->  
          <object name="WorklistService" type="NGinn.Worklist.WorklistService, NGinn.Worklist" singleton="true"></object>
          <!-- resource manager service -->  
          <object name="ResourceManager" type="NGinn.Worklist.DefaultResourceManager, NGinn.Worklist" singleton="true"></object>


          <object name="PackageRepository" type="NGinn.Engine.Runtime.FSProcessPackageRepository, NGinn.Engine" singleton="true">
                <property name="BaseDirectory" value="${ng.configdir}\PackageRepository" />
            </object>
            
            <object name="ProcessDefinitionRepository" type="NGinn.Engine.Runtime.ProcessDefinitionRepository, NGinn.Engine" singleton="true">
                <property name="PackageRepository" ref="PackageRepository" />
            </object>

            <object name="NGEnvironment" type="NGinn.Engine.Runtime.NGEnvironment, NGinn.Engine" singleton="true">
                <property name="DefinitionRepository" ref="ProcessDefinitionRepository" />
                <property name="DataStore" ref="NGSessionFactory" />
                <property name="InstanceRepository" ref="ProcessInstanceRepository" />
                <property name="LockManager" ref="ProcessInstanceLockManager" />
                <property name="WorklistService" ref="WorklistService" />
                <property name="MessageBus" ref="MessageBus" />
              <property name="ResourceManager" ref="ResourceManager" />
            </object>

            <object name="NGinn.Engine" type="NGinn.Engine.Runtime.NGEngine, NGinn.Engine" singleton="true">
                <property name="Environment" ref="NGEnvironment" />
                <property name="ExecutionThreads" value="5" />
                <property name="MessageBus" ref="MessageBus" />
            </object>

            <object name="saoProcessDefinitionRepository" type="Spring.Remoting.SaoExporter, Spring.Services">
                <property name="TargetName" value="ProcessDefinitionRepository" />
                <property name="ServiceName" value="ProcessDefinitionRepository_Rem" />
            </object>

            <object name="saoNGEnvironment" type="Spring.Remoting.SaoExporter, Spring.Services">
                <property name="TargetName" value="NGEnvironment" />
                <property name="ServiceName" value="NGEnvironment_Rem" />
            </object>
        </objects>
    </spring>
</configuration>