<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="EnvVariables" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="sooda.config" value="xmlconfig"/>
  </appSettings>
  
  <EnvVariables>
    <add key="MessageDb.ConnectionString" value="Data Source=(local);Initial Catalog=NGinn;User Id=nginn;Password=PASS" />
    <add key="NGinn.SchemaDir" value="" />
  </EnvVariables>
  
  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <description></description>
      <object name="appConfigPropertyHolder" type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
        <property name="configSections" value="EnvVariables" />
      </object>
      
      
      
      <object name="NGEnvironment" type="NGinn.Engine.Runtime.NGEnvironment, NGinn.Engine" singleton="true">
        <property name="DefinitionRepository" ref="ProcessDefinitionRepository" />
        <property name="DataStore" ref="NGSessionFactory" />
        <property name="InstanceRepository" ref="ProcessInstanceRepository" />
        <property name="LockManager" ref="ProcessInstanceLockManager" />
        <property name="WorklistService" ref="WorklistService" />
      </object>
      <object name="NGSessionFactory" type="NGinn.Engine.Dao.NGDataStore, NGinn.Engine.Dao" singleton="true"/>
      <object name="ProcessInstanceRepository" type="NGinn.Engine.Dao.ProcessInstanceRepository, NGinn.Engine.Dao" singleton="true" />
      <object name="ProcessInstanceLockManager" type="NGinn.Engine.Runtime.LocalProcessInstanceLockManager, NGinn.Engine" singleton="true" />
      <object name="WorklistService" type="NGinn.Worklist.WorklistService, NGinn.Worklist" singleton="true"></object>
      <object name="MessageBus" type="NGinn.MessageBus.SimplePublisher, NGinn.MessageBus" singleton="true">
      </object>
      <object name="MessageBusQueueProcessor" type="NGinn.MessageBus.SQLQueueProcessor, NGinn.MessageBus" singleton="true">
        <property name="ConnectionString" value="${MessageDb.ConnectionString}"/>
        <property name="InputQueue" value="" />
      </object>
      <object name="PackageRepository" type="NGinn.Engine.Runtime.FSProcessPackageRepository, NGinn.Engine" singleton="true">
        <property name="BaseDirectory" value="c:\dev\nginn\PackageRepository" />
      </object>
      <object name="ProcessDefinitionRepository" type="NGinn.Engine.Runtime.ProcessDefinitionRepository, NGinn.Engine" singleton="true">
        <property name="PackageRepository" ref="PackageRepository" />
      </object>
    </objects>
  </spring>
</configuration>
