<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="EnvVariables" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>
    <add key="sooda.config" value="xmlconfig"/>
  </appSettings>

  
  <EnvVariables>
  </EnvVariables>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <description></description>
      <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
        <property name="VariableSources">
          <list>
            <object type="NGinn.Lib.Util.DefaultConfigProvider, NGinn.Lib">
              <property name="ConfigFile" value="nginn.properties" />
              <property name="DefaultPrefix" value="ng." />
            </object>
            <object type="Spring.Objects.Factory.Config.ConfigSectionVariableSource, Spring.Core">
              <property name="SectionNames" value="EnvVariables" />
            </object>
          </list>
        </property>
      </object>

      <!--<object name="MessageBus" type="NGinn.Engine.Runtime.MessageBus.ReliableMessageBroker, NGinn.Engine" singleton="true">
        <property name="QueueName" value="NGinnEngine" />
        <property name="ConnectionString" value="${MessageDb.ConnectionString}" />
      </object>
-->
      <!-- nginn engine host's message bus interface -->
      
      <object id="EngineMessageBus" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="NGinn.Lib.Interfaces.MessageBus.IMessageBus, NGinn.Lib" />
        <property name="ServiceUrl" value="${RemotingHost}/MessageBus_Rem" />
      </object>

      <object name="MailFetcher" type="NGinnServicesHost.EmailFetcher, NGinnServicesHost">
        <property name="FetcherExe" value="${ng.configdir}/extlib/tools/other/FetchTheMail.exe" />
        <property name="CommandLine" value="/server poczta.interia.pl /port 995 /user nginn /pwd 1212qw /maxcount 5" />
        <property name="BaseDirectory" value="${ng.configdir}/var/incoming_email" />
        <property name="TargetMessageBus" ref="EngineMessageBus" />
      </object>
      
      <object id="JOB1" type="Spring.Scheduling.Quartz.MethodInvokingJobDetailFactoryObject, Spring.Scheduling.Quartz">
        <property name="TargetObject" ref="MailFetcher" />
        <property name="TargetMethod" value="Run" />
      </object>

      <object id="TRG1" type="Spring.Scheduling.Quartz.SimpleTriggerObject, Spring.Scheduling.Quartz">
        <property name="JobDetail" ref="JOB1" />
        <property name="StartDelay" value="10s" />
        <property name="RepeatInterval" value="30s" />
      </object>

      <object id="scheduler" type="Spring.Scheduling.Quartz.SchedulerFactoryObject, Spring.Scheduling.Quartz">
        <property name="Triggers">
          <list>
            <ref local="TRG1"/>
          </list>
        </property>
      </object>

      

      
    </objects>
  </spring>
  <common>
    <logging>
      <factoryAdapter
             type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
        
      </factoryAdapter>
    </logging>
  </common>
</configuration>