<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="EnvVariables" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <appSettings>
    <add key="sooda.config" value="xmlconfig"/>
  </appSettings>

  <EnvVariables>
  </EnvVariables>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net" xmlns:r="http://www.springframework.net/remoting">
      
      
      <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
        <property name="VariableSources">
          <list>
            <object id="NGinnVariableSource" type="NGinn.Lib.Util.DefaultConfigProvider, NGinn.Lib">
              <property name="ConfigFile" value="nginn.properties" />
              <property name="DefaultPrefix" value="ng." />
            </object>
            <object type="Spring.Objects.Factory.Config.ConfigSectionVariableSource, Spring.Core">
              <property name="SectionNames" value="EnvVariables" />
            </object>
          </list>
        </property>
      </object>

      

      <object id="PackageRepository" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="NGinn.Lib.Interfaces.IProcessPackageRepository, NGinn.Lib" />
        <property name="ServiceUrl" value="${RemotingHost}/PackageRepository_Rem" />
      </object>

      <object id="NGEnvironment" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="NGinn.Lib.Interfaces.INGEnvironment, NGinn.Lib" />
        <property name="ServiceUrl" value="${RemotingHost}/NGEnvironment_Rem" />
      </object>

      <!-- worklist service -->
      <object name="WorklistService" type="NGinn.Worklist.WorklistService, NGinn.Worklist" singleton="true">
      </object>

      <object name="saoWorklistService" type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="WorklistService" />
        <property name="ServiceName" value="WorklistService.rem" />
      </object>

    </objects>
  </spring> 
  
    <system.web>
      <compilation debug="true">
        <assemblies>
          <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
          <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
          <add assembly="System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        </assemblies>
      </compilation>
        <authentication mode="Windows" />
    </system.web>
  <system.runtime.remoting>
    <application>
      <service>
        <wellknown mode="Singleton" type="NGinn.Worklist.WorklistService, NGinn.Worklist" objectUri="WorkListService3.rem" />
      </service>
      <channels>
        <channel
           name="MyChannel"
           priority="100"
           ref="http"
            />
      </channels>
    </application>
  </system.runtime.remoting>
</configuration>
