<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="EnvVariables" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <appSettings>
    <add key="sooda.config" value="xmlconfig"/>
  </appSettings>

  <EnvVariables>
  </EnvVariables>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      
      
      <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
        <property name="VariableSources">
          <list>
            <object type="NGinn.Lib.Util.DefaultConfigProvider, NGinn.Lib">
              <property name="ConfigFile" value="nginn.properties" />
              <property name="DefaultPrefix" value="ng." />
            </object>
            <object type="Spring.Objects.Factory.Config.ConfigSectionVariableSource, Spring.Core">
              <property name="SectionNames" value="EnvVariables" />
            </object>
          </list>
        </property>
      </object>

      <import resource="assembly://NGinn.XmlFormsWWW/NGinn.XmlFormsWWW/lists-config.xml" />

      <object id="ProcessDefinitionRepository" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="NGinn.Engine.Services.IProcessDefinitionRepository, NGinn.Engine" />
        <property name="ServiceUrl" value="${RemotingHost}/ProcessDefinitionRepository_Rem" />
      </object>

      <object id="NGEnvironment" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="NGinn.Lib.Interfaces.INGEnvironment, NGinn.Lib" />
        <property name="ServiceUrl" value="${RemotingHost}/NGEnvironment_Rem" />
      </object>

      <!-- worklist service -->
      <object name="WorklistService" type="NGinn.Worklist.WorklistService, NGinn.Worklist" singleton="true">
      </object>

      <object name="saoWorklistService" type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="WorklistService" />
        <property name="ServiceName" value="WorklistService_Rem" />
      </object>

    </objects>
  </spring> 
  
    <system.web>
        <compilation debug="true" />
        <authentication mode="Windows" />
    </system.web>
</configuration>
