<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="EnvVariables" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>
    <add key="sooda.config" value="xmlconfig"/>
  </appSettings>

  <EnvVariables>
    <add key="RemotingHost" value="tcp://localhost:8005" />
  </EnvVariables>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <description></description>
      <object name="appConfigPropertyHolder" type="Spring.Objects.Factory.Config.PropertyPlaceholderConfigurer, Spring.Core">
        <property name="configSections" value="EnvVariables" />
      </object>

      <object id="ProcessDefinitionRepository" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="NGinn.Engine.Services.IProcessDefinitionRepository, NGinn.Engine" />
        <property name="ServiceUrl" value="${RemotingHost}/ProcessDefinitionRepository_Rem" />
      </object>

      <object id="NGEnvironment" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="NGinn.Lib.Interfaces.INGEnvironment, NGinn.Lib" />
        <property name="ServiceUrl" value="${RemotingHost}/NGEnvironment_Rem" />
      </object>

      <!-- todo list data provider -->
      <object name="TODOListDataProvider" type="NGinn.Worklist.TaskListDataProvider, NGinn.Worklist" singleton="true">
      </object>


    </objects>
  </spring>
  
    <system.web>
        <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="true" />
        <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
        <authentication mode="Windows" />
        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    </system.web>
</configuration>
