<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="objects" type="Spring.Context.Support.DefaultSectionHandler, Spring.Core" />
    </sectionGroup>
    <section name="EnvVariables" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <appSettings>
    <add key="sooda.config" value="xmlconfig"/>
  </appSettings>

  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="tcp" port="8005" />
      </channels>
    </application>
  </system.runtime.remoting>

  <EnvVariables>
  </EnvVariables>

  <spring>
    <context>
      <resource uri="config://spring/objects"/>
    </context>
    <objects xmlns="http://www.springframework.net">
      <description></description>

      <object type="Spring.Objects.Factory.Config.VariablePlaceholderConfigurer, Spring.Core">
        <property name="VariableSources">
          <list>
            <object type="NGinn.Lib.Util.DefaultConfigProvider, NGinn.Lib">
              <property name="ConfigFile" value="nginn.properties" />
              <property name="DefaultPrefix" value="ng." />
            </object>
            <object type="Spring.Objects.Factory.Config.ConfigSectionVariableSource, Spring.Core">
              <property name="SectionNames" value="EnvVariables" />
            </object>
          </list>
        </property>
      </object>

      <object name="MessageBus" type="NGinn.Engine.Runtime.MessageBus.ReliableMessageBroker, NGinn.Engine" singleton="true">
        <property name="QueueName" value="NGinnEngine" />
        <property name="ConnectionString" value="${MessageDb.ConnectionString}" />
      </object>


      <!-- binary serialization repository
      <object name="ProcessInstanceRepository" type="NGinn.Engine.Dao.ProcessInstanceRepository, NGinn.Engine.Dao" singleton="true" />
      -->
      <object name="ProcessInstanceRepository" type="NGinn.Engine.Dao.ProcessInstanceXmlRepository, NGinn.Engine.Dao" singleton="true" />

      <object name="ProcessInstanceLockManager" type="NGinn.Engine.Runtime.LocalProcessInstanceLockManager, NGinn.Engine" singleton="true" />
      <!-- worklist service -->
      <object name="WorklistService" type="NGinn.Worklist.WorklistService, NGinn.Worklist" singleton="true"></object>
      <!-- resource manager service -->
      <object name="ResourceManager" type="NGinn.Worklist.DefaultResourceManager, NGinn.Worklist" singleton="true"></object>

      <object name="ProcessScriptManager" type="NGinn.Engine.Runtime.Scripting.ScriptNet.ScriptNetProcessScriptManager, NGinn.Engine" singleton="true">
      </object>

      <object name="PackageRepository" type="NGinn.Engine.Runtime.FSProcessPackageRepository, NGinn.Engine" singleton="true">
        <property name="BaseDirectory" value="${ng.configdir}\PackageRepository" />
        <property name="ScriptManager" ref="ProcessScriptManager" />
      </object>

      
      <object name="MessageTargetResolver" type="NGinn.Engine.Dao.ProcessMessageTargetResolver, NGinn.Engine.Dao" singleton="true" />


      <object name="NGEnvironment" type="NGinn.Engine.Runtime.NGEnvironment, NGinn.Engine" singleton="true">
        <property name="PackageRepository" ref="PackageRepository" />
        <property name="InstanceRepository" ref="ProcessInstanceRepository" />
        <property name="LockManager" ref="ProcessInstanceLockManager" />
        <!-- <property name="WorklistService" ref="WorklistService" />-->
        <property name="WorklistService" ref="WorklistService_Rem" />
        <property name="MessageBus" ref="MessageBus" />
        <property name="ResourceManager" ref="ResourceManager" />
        <property name="CorrelationIdResolver" ref="MessageTargetResolver" />
        <property name="ScriptManager" ref="ProcessScriptManager" />
      </object>

      <object name="NGinn.Engine" type="NGinn.Engine.Runtime.NGEngine, NGinn.Engine" singleton="true">
        <property name="Environment" ref="NGEnvironment" />
        <property name="ExecutionThreads" value="5" />
        <property name="MessageBus" ref="MessageBus" />
      </object>

      <object name="EmailSender" type="NGinn.Utilities.Email.SMTPEmailSender, NGinn.Utilities" singleton="true">
        <property name="TempDir" value="${ng.configdir}\var\temp" />
        <property name="ExePath" value="${ng.configdir}\extlib\tools\blat\blat.exe" />
        <property name="CmdLine" value="-f nginn@interia.pl -server poczta.interia.pl -u nginn -pw 1212qw -debug -log ${ng.configdir}\logs\blat.txt" />
      </object>

      <object name="EmailHandler" type="NGinn.Utilities.Email.InputEmailHandler, NGinn.Utilities" singleton="true">
        <property name="BaseDirectory" value="${ng.configdir}\data\EmailRules" />
      </object>

      <object name="saoPackageRepository" type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="PackageRepository" />
        <property name="ServiceName" value="PackageRepository_Rem" />
      </object>

      <object name="saoNGEnvironment" type="Spring.Remoting.SaoExporter, Spring.Services">
        <property name="TargetName" value="NGEnvironment" />
        <property name="ServiceName" value="NGEnvironment_Rem" />
      </object>

      <object id="WorklistService_Rem" type="Spring.Remoting.SaoFactoryObject, Spring.Services">
        <property name="ServiceInterface" value="NGinn.Lib.Interfaces.Worklist.IWorkListService, NGinn.Lib" />
        <property name="ServiceUrl" value="http://localhost/nginn/WorklistService.rem" />
      </object>

    </objects>
  </spring>
</configuration>